<h1 class="text-center display-1">Stupid Coaching 🤖</h1>

  <div class="card card-body text-center fs-3">
     <%= @message %>
  </div>
  <div class="d-flex justify-content-center">
    <form action="./ask" method="get" data-turbo="false">
      <input type="submit" class="btn btn-danger btn-lg text-center " value="Ask more question!">
    </form>
  </div>
