<h1 class="text-center display-1">Stupid Coaching 🤖</h1>


  <form action="/answer" method="get" data-turbo="false">
    <input class="input-group input-group-lg text-center fs-3 grey" type="text" name="answer" value="Damn gurl, ask your stupid question or go to work!">
    <div class="d-flex justify-content-center">
      <input type="submit" class="btn btn-success btn-lg text-center" value="Ask!">
    </div>
  </form>
